// Palette
$black: #000;
$subBlack: #0E1118;
$darkBlue: #202844;
$purple: #43387C;
$chapBg: #1C1E53;
$bodyBg: #383D7C;
$chapBgLower: #383D7C;
$white: #fff;
$yellow: #FDC500;
$grey: #CBCAD8;
$lightBlue: #5964A4;
$social: #2E2E42;
$peach: #DE765F;

// Vars 
$padding: calc(1 * 1em);
$bodyPadding: calc(2 * 1em);  
$tabletPadding: calc(4 * 1em);  

* { 
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
  outline: none !important;
}

body {
    background: $darkBlue;
    color: $white;
    height: 100vh;
    width: 100vw;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;   /* Firefox */
    -webkit-font-smoothing: antialiased; /* WebKit  */
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $white;
}

header {
    display: grid;
    grid-template-columns: 280px 60px;
    padding: 20px $bodyPadding;

    @media (min-width: 768px) and (max-width: 1024px) {
      grid-template-columns: 480px 60px;
      padding: 20px $tabletPadding;
    }

    .title {
      grid-column: 1;
      text-align: left;
      text-transform: uppercase;
      h3 {
        margin: 5px 0px;
        font-family: 'Alata-Regular';
        font-weight: 300;
        @media screen and (device-aspect-ratio: 40/71) {
          font-size: 20px;
        }
      }
      h5 {
        margin: 0px;
        font-family: 'Alata-Regular';
        @media screen and (device-aspect-ratio: 40/71) {
          font-size: 10px;
        }
        span {
          font-size: 6px;
        }
      }
    }
  }

a.btn-link {
    button {
        display: flex;
        margin: 50px auto 0px;
        width: 100%;
        height: 100%;
        letter-spacing: 0.2em;
        background: transparent;
        border: none;
        justify-content: center;
        @media (min-width: 768px) and (max-width: 1024px) {
          width: 50%;
        }
        span {
            height: 100%;
            width: 50%;
            text-transform: uppercase;
            background: #5964A4;
            color: #fff;
            font-weight: 500;
            font-family: 'Alata-Regular';
            height: 62px;
            justify-content: center;
            align-items: center;
            text-align: left;
            display: flex;
            padding: 19px;
            font-size: 14px;
            p {
              font-size: 18px;
              font-family: 'Alata-Regular';
            }
        }
        .icon-box {
            height: 62px;
            width: 22%;
            background: #FDC500;
            position: relative;

            .icon {
                background: url(assets/icon/arrow-right.svg) no-repeat center center;
                background-size: contain;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 25px;
                height: 25px;
            }
            .icon-ply {
              background: url(assets/icon/play.svg) no-repeat center center;
              background-size: contain;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 25px;
              height: 25px;
          }
        }
    }
}

a.btn-back {
  button {
      display: flex;
      margin: 30px auto;
      width: 50%;
      span {
          height: 100%;
          width: 100%;
          font-family: 'Alata-Regular';
          text-transform: uppercase;
          background: $lightBlue;
          color: $white;
          padding: 19px;
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 0.2em;
      }
      .icon-box {
          height: 63px;
          width: 75%;
          background: $yellow;
          position: relative;

          @media (min-width: 768px) and (max-width: 1024px) {
            width: 40%;
          }

          .icon-bk {
              background: url(assets/icon/arrow-left.svg) no-repeat center center;
              background-size: contain;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 25px;
              height: 25px;
          }
          .icon-fwd {
            background: url(assets/icon/arrow-right.svg) no-repeat center center;
            background-size: contain;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 25px;
            height: 25px;
          }
      }
  }
}

.nav-banner {
  height: 60px;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  background: $yellow;
  margin: 0px 0px 50px;
  .content {
      display: grid;
      grid-template-columns: 140px 50px;
      justify-content: center;
      align-items: center;
      .img {
          background: url(assets/icon/blue-arrow-right.svg) no-repeat center center;
          background-size: contain;
          height: 30px;
          width: 33px;
      }
      .text {
          color: $bodyBg;
          font-family: 'Alata-Regular';
          text-transform: uppercase;
      }
  }
}

.thumb {
  width: 100%;
  height: 200px;
  margin: 50px 0px;
  .img {
      background: url(assets/img/placeholder.png) no-repeat center center;
      background-size: cover;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
  }
  .gradientz {
      position: absolute;
      bottom: 0;
      height: 40px;
      width: 100%;
      background: rgba(33,32,68, 0.3);
      .zoom {
          position: absolute;
          z-index: 9999;
          bottom: 4px;
          left: 8px;
      }
  }
}

.head {
  text-align: center;
  margin: 50px 0px;
}

.quote {
  color: $yellow;
}

.border {
    background: $yellow;
    width: 40px;
    height: 2px;
    margin: auto;
}

.border-dup {
  background: $yellow;
  width: 40px;
  height: 2px;
  margin: unset;
}

.border-white {
  width: 100%;
  margin: auto;
  height: 1px;
  background: $white;
}

.fixed-nav {
  bottom: 0;
}

.links {
  margin-bottom: 50px;
  a.btn-back button {
      width: 100%;
  }
}

.links-inline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 50px;
  a.btn-back button {
      width: 100%;
  }
}

.zoom {
  background: url(assets/icon/zoom.svg) no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

// Fancybox 
.fancybox-is-open .fancybox-bg {
  opacity: .99 !important;
}

button.fancybox-button.fancybox-button--zoom {
  display: none !important;
}

button.fancybox-button.fancybox-button--close {
  margin-top: 20px;
  margin-right: 20px;
}

button.fancybox-button.fancybox-button--play {
  display: none;
}

.fancybox-infobar {
  display: none;
}

button.fancybox-button.fancybox-button--arrow_left {
  display: none;
}

button.fancybox-button.fancybox-button--arrow_right {
  display: none;
}

.fancybox-caption__body {
  h5 {
    text-transform: uppercase !important;
    font-size: 10px !important;
  }
  p {
    font-size: 12px !important;
  }
}


// Portrait Lock
@media only screen and (orientation:landscape) {
  #turn{ 
    background: $bodyBg;
    display: grid;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 50px;
    text-align: center;
    position: relative;
    z-index: 100;
    h3 {
      color: $white;
      span {
        color: $yellow;
      }
    }
    p {
      font-family: 'Alata-Regular';
      span {
        color: $yellow;
        border-bottom: 2px solid $grey;
        font-size: 20px;
      }
    }
  }
  main { 
    display:none !important; 
  }
}
@media only screen and (orientation:portrait){
  #turn{ display:none; }
  main{ display:block; }
}


// Temp header styles
#chapters .header .header-img {
  position: absolute;
  top: 0;
  object-fit: cover;
}

#chapters .header .title {
  text-align: center;
}

a.btn-back button {
  background: transparent;
  border: none;
}