aside {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: $darkBlue;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease;
  z-index: 20;
  .nav-border {
    margin: 10px auto;
    background: $yellow;
    width: 40px;
    height: 2px;
    margin: auto;
  }
}
.open {
	opacity: 1;
	visibility: visible;
}
.content {
  display: grid;
  align-items: center;
  display: grid;
  justify-content: center;

a.nav-map {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
    div {
      line-height: 2em;
    }
    .icon {
      height: 30px;
      width: 33px;
    }
    .ic-1 {
      background: url(assets/icon/map-yellow.svg) no-repeat center center;
      background-size: contain;
    }
    .ic-2 {
      background: url(assets/icon/bookmark.svg) no-repeat center center;
      background-size: contain;
    }
    .text {
      color: $yellow;
      text-indent: 12px;
      font-family: 'Alata-Regular';
    }
  }
}
nav {
	text-align: center;
	height: 45vh;
	display: flex;
  flex-direction: column;
  margin-top: 20px;
  @media screen and (device-aspect-ratio: 40/71) {
    height: 50vh;
  }
	ul {
		margin: 0 auto;
		padding: 0;
    list-style: none;
    width: 90%;
		li {
			align-items: center;
      flex: 1;
      margin-bottom: 5px;
      font-family: 'Alata-Regular';
      @media screen and (device-aspect-ratio: 40/71) {
        font-size: 12px;
      } 
      span {
        font-size: 12px;
        &:hover {
          color: $yellow;
        }
      }
			a {
        font-size: 1em;
				transition: all 0.5s ease;
				display: block;
				text-decoration: none;
				color: $white;
				&:hover {
					color: $yellow;
          transform: scale(1.1);
					&:before {
						visibility: visible;
						transform: scaleX(1);
					}
        }
        &:active {
          color: $yellow;
          transform: scale(1.1);
          &:before {
						visibility: visible;
						transform: scaleX(1);
					}
        }
			}
		}
	}
}
@media screen and (min-width: 600px) {
  nav ul li a {
    font-size: 2.2em;
  }
}
.hamburger {
  background: url(assets/icon/menu.svg) no-repeat center center;
  background-size: contain;
  transition: all .5s ease;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 40px;
  border: none;
	&:hover {
		border: 1px solid rgba(255, 255, 255, 1);
	}
}

.nav-top {
  display: grid;
  grid-template-columns: 280px 60px;
  padding: 20px $bodyPadding;
  @media (min-width: 768px) and (max-width: 1024px) {
    grid-template-columns: 480px 60px;
    padding: 20px $tabletPadding;
  }
  .title {
    grid-column: 1;
    text-align: left !important;
    text-transform: uppercase;

    /*.
    img {
      background: url(assets/img/top-logo.svg) no-repeat center center;
      background-size: contain;
      width: 100%;
      height: 100%;
    }*/
    h3 {
      margin: 5px 0px;
      width: 100% !important;
      @media screen and (device-aspect-ratio: 40/71) {
        font-size: 20px;
      }
    }
    h5 {
      margin: 0px;
      font-family: 'Alata-Regular' !important;
      @media screen and (device-aspect-ratio: 40/71) {
        font-size: 10px;
      }
      span {
        font-size: 6px;
      }
    }
  }
}
.close {
  grid-column: 2;
	position: fixed;
  top: 40px;
  right: 55px;
	color: white;
	z-index: 3;
	cursor: pointer;
  span,
  span:before,
  span:after {
    border-radius: 4px;
    height: 3px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
  }
  span {
    background: transparent;
  }
  span:before {
  transform: rotate(45deg);
  }
  span:after {
  transform: rotate(-45deg);
  }
}
.outer-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 85px;
    height: 85px;
    cursor: pointer;
}

.lower-nav {
  background: $bodyBg;
  height: 30vh;
  text-align: center;
  
  @media (min-width: 768px) {
    margin-top: 32px;
  }
  ul {
    padding-left: 0;
    padding-top: 10px;
    margin-bottom: 10px;
    li {
      list-style-type: none;
      line-height: 3.2em;
      font-size: 10px;
      text-transform: uppercase;
      font-family: 'Alata-Regular';
      display: inline-block;
      letter-spacing: 0.2em;
      @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 18px;
      }
    }
  }
.social {
      margin: auto;
      display: inline-block;

      @media (min-width: 768px) {
        margin-top: 30px;
      }

      .icon-outer {
        width: 45px;
        height: 45px;
        display: inline-grid;
        background: $social;
        border-radius: 100%;
        padding: 12px;
        margin: 0px 5px;

        @media screen and (device-aspect-ratio: 40/71) {
          margin-top: -10px;
        }        

        .fbook {
          background: url(assets/icon/fbook.png) no-repeat center center;
          background-size: contain;
        }
        .insta {
          background: url(assets/icon/insta.png) no-repeat center center;
          background-size: contain;
        }
        .linkedin {
          background: url(assets/icon/linkedin.png) no-repeat center center;
          background-size: contain;
        }
        .twitter {
          background: url(assets/icon/twitter.png) no-repeat center center;
          background-size: contain;
        }
      }
  }
}

// Global Fixed Nav 
.fixed-nav {
  background: $lightBlue;
  width: 100%;
  height: 75px;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 15;
  @media screen and (device-aspect-ratio: 40/71) {
      height: 60px;
  }
  p {
      font-family: 'Alata-Regular' !important;
      font-size: 12px;
  }
  .pg-title {
      grid-column: 1;
      justify-content: flex-start;
      align-items: center;
      display: flex;
      padding: 0px $padding;
  }
  .pg-alt-bk {
      grid-column: 2;
      height: 100%;
      width: 100%;
      background: $bodyBg;
      .img {
        background: url(assets/icon/Next.svg) no-repeat center center;
        background-size: contain;
        height: 100%;
        width: 100%;
      }
  }
}

// Chapters Fixed Nav 
.chap-fixed-nav {
  background: $lightBlue;
  width: 100%;
  height: 75px;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px $padding;
  z-index: 15;
  bottom: 0;
  @media screen and (device-aspect-ratio: 40/71) {
      height: 60px;
  }
  p {
      font-family: 'Alata-Regular' !important;
      font-size: 12px;
  }
  .pg-title {
      grid-column: 1;
      justify-content: flex-start;
      align-items: center;
      display: flex;
  }
  .pg-nav {
      grid-column: 2;
      justify-content: center;
      align-items: center;
      display: flex;
      .arrow-left {
          background: url(assets/icon/arrow-left.svg) no-repeat center center;
          background-size: contain;
          height: 20px;
          width: 20px;
          margin-right: 20px;
      }
      .arrow-right {
          background: url(assets/icon/arrow-right.svg) no-repeat center center;
          background-size: contain;
          height: 20px;
          width: 20px;
          margin-left: 20px;
      }
  }
  .pg-num {
      grid-column: 3;
      justify-content: flex-end;
      align-items: center;
      display: flex;
  }
}

// Grey arrow for first and last page of chapters
.page-id-63 {
  .fixed-nav {
    .pg-nav {
      .arrow-left {
        background: url(assets/icon/grey-arrow-left.svg) no-repeat center center;
      }
    }
  }
}

.page-id-145 {
  .fixed-nav {
    .pg-nav {
      .arrow-right {
        background: url(assets/icon/grey-arrow-right.svg) no-repeat center center;
      }
    }
  }
}


