#runnymede-nav {
    background: $bodyBg;
    overflow: hidden;
    .header-bg {
        background-size: contain;
        height: 60vh;
        margin-top: -95px;
    
        @media (min-width: 768px) {
            background-size: cover;
          }
        .overlay {
            height: 25%;
            width: 100%;
            @media (min-width: 768px) {
                height: 17%;
              }
        }
        .map {
            background: url(assets/img/runny-map.svg) no-repeat center center;
            background-size: contain;
            width: 110%;
            height: 40vh;
            margin-left: -20px;
            .map-grid {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                position: relative;
                .number {
                    width: 35px;
                    height: 36px;
                    border-radius: 100%;
                    background-color: $darkBlue;
                    color: $lightBlue;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    font-size: 22px;
                    font-weight: 500;
                    font-family: 'Alata-Regular';
                    &:first-child {
                        top: 105%;
                        left: 47%;
                        @media only screen 
                            and (device-width : 375px) 
                            and (device-height : 812px) 
                            and (-webkit-device-pixel-ratio : 3) { 
                                top: 101%;
                            }
                    }
                    &:nth-child(2) {
                        top: 88%;
                        left: 47%;
                        @media only screen 
                        and (device-width : 375px) 
                        and (device-height : 812px) 
                        and (-webkit-device-pixel-ratio : 3) { 
                            top: 85%;
                        }
                    }
                    &:nth-child(3) {
                        left: 34%;
                        top: 71%;
                    }
                    &:nth-child(4) {
                        left: 47%;
                        top: 5%;
                        @media only screen 
                            and (device-width : 375px) 
                            and (device-height : 812px) 
                            and (-webkit-device-pixel-ratio : 3) { 
                                top: 13%;
                        }
                    }
                    &:nth-child(5) {
                        top: 28%;
                        left: 66%;
                        @media only screen 
                        and (device-width : 375px) 
                        and (device-height : 812px) 
                        and (-webkit-device-pixel-ratio : 3) { 
                            top: 34%;
                        }
                    }
                    &:nth-child(6) {
                        top: 44%;
                        left: 60%;
                    }
                }
            }
        }
        .map-head {
            position: relative;
            bottom: 0;
            height: 75%;
            width: 100%;
            .img {
                background: url(assets/icon/zoom.svg) no-repeat center center;
                background-size: contain;
            }
        }
        h5 {
            text-align: center;
            color: $yellow;
            margin-top: 0px;
            @media only screen 
            and (device-width : 375px) 
            and (device-height : 812px) 
            and (-webkit-device-pixel-ratio : 3) { 
                margin-top: -65px;
            }
        }
    }
    section {
        padding: $bodyPadding;
        .sub-nav {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
            .btn {
                background: $lightBlue;
                color: $yellow;
                font-size: 12px;
                text-transform: uppercase;
                padding: 2%;
                display: flex;
                align-items: center;
                font-family: 'Alata-Regular';
                .icon {
                    height: 20px;
                    width: 20px;
                    margin: 4px;
                    &:nth-child(1) {
                        background: url(assets/icon/search.svg) no-repeat center center;
                        background-size: contain;
                    }
                    &:nth-child(2) {
                        background: url(assets/icon/search.svg) no-repeat center center;
                        background-size: contain;
                    }
                }
            }
        }
        .upper { 
            @media (min-width: 768px) {
                padding: $tabletPadding;
            }
            .feature-img {
                height: 200px;
                width: 100%;
                margin: 50px 0px;
                .img {
                    background-size: cover !important;
                    height: 100%;
                    width: 100%;
                }
            }
            h1 {
                color: $yellow;
                text-align: center;
                text-transform: none;
                margin-bottom: 50px;
            }
            h5 {
                color: $yellow;
                text-align: center;
            }
            .dl {
                margin: 50px 0px;
                .border {
                    margin: 50px auto; 
                }
            }
            a.btn-link button span {
                width: 79%;
                height: auto;
                text-transform: uppercase;
                background: #5964A4;
                color: #fff;
                padding: 20px;
                font-size: 14px;
                text-align: left;
                min-height: 78px;
                @media screen and (device-aspect-ratio: 40/71) {
                        padding: 19px;
                }
            }
            .icon-box {
                height: 78px;
            }
        }
    }
}

// Page specific
.page-id-278 {
    .map-grid {
        .number {
            &:first-child {
                background-color: $yellow !important;
                color: $subBlack !important;
            }
        }
    }
}

.page-id-287 {
    .map-grid {
        .number {
            &:nth-child(2) {
                background-color: $yellow !important;
                color: $subBlack !important;
            }
        }
    }
}

.page-id-294 {
    .map-grid {
        .number {
            &:nth-child(3) {
                background-color: $yellow !important;
                color: $subBlack !important;
            }
        }
    }
}

.page-id-298 {
    .map-grid {
        .number {
            &:nth-child(4) {
                background-color: $yellow !important;
                color: $subBlack !important;
            }
            a.btn-link button span {
                @media screen and (device-aspect-ratio: 40/71) {
                    padding: 25px !important;
                }
            }
        }
    }
}

.page-id-301 {
    .map-grid {
        .number {
            &:nth-child(5) {
                background-color: $yellow !important;
                color: $subBlack !important;
            }
        }
    }
}

.page-id-305 {
    .map-grid {
        .number {
            &:nth-child(6) {
                background-color: $yellow !important;
                color: $subBlack !important;
            }
        }
    }
}
