#about {
    .upper {
        text-align: center;
        padding: $bodyPadding;
        h1 {
            margin: 10px 0px;
            @media (max-width: 340px) {
                margin: 5px 0px;
            }
            span {
                font-size: 16px;
            }
        }
        h3 {
            letter-spacing: 2.2px;
            text-transform: uppercase;
            margin: 10px 0px;
            @media (max-width: 340px) {
                margin: 0px;
            }
            @media only screen 
                and (device-width : 375px) 
                and (device-height : 812px) 
                and (-webkit-device-pixel-ratio : 3) { 
                    margin: 20px 0px;
                }
        }
    }
    .logos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        padding: $padding;
        height: 70px;
        margin-bottom: 30px;
        .logo-1 {
            grid-column: 1;
            background: url(assets/logo/cwgc-yellow.png) no-repeat center center;
            background-size: contain;
        }
        .logo-2 {
            grid-column: 2;
            background: url(assets/logo/AIM-Biffa.png) no-repeat center center;
            background-size: contain;
        }
        /*
        .logo-3 {
            grid-column: 3;
            background: url(assets/logo/biffa.png) no-repeat center center;
            background-size: contain;
        } 
        */
    }
    .lower {
        background: $bodyBg;
        padding: $bodyPadding;
    }
}