#after {
    .header-bg {
        background: url(assets/img/george_cross.png) no-repeat top;
        background-size: cover;
        height: 60vh;
        margin-top: -95px;
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 812px) 
        and (-webkit-device-pixel-ratio : 3) { 
            height: 50vh;
        }
        .overlay {
            height: 25%;
            width: 100%;
            background-image: linear-gradient(to bottom, rgba(33,32,68,0.8), rgba(33,32,68,0.0));
        }
        .overlay-2 {
            height: 75%;
            width: 100%;
            position: relative;
            .trans-bg {
                position: absolute;
                bottom: 0;
                height: 50px;
                width: 100%;
                background: rgba(33,32,68, 0.2);
            }
        }
        .zoom {
            background: url(assets/icon/zoom.svg) no-repeat center center;
            background-size: contain;
            height: 25px;
            width: 25px;
            position: absolute;
            bottom: 20%;
            left: 5%;
            @media only screen 
                and (device-width : 375px) 
                and (device-height : 812px) 
                and (-webkit-device-pixel-ratio : 3) { 
                    bottom: 20%;
                    left: 5%;
                }
        }
    }
    section {
        padding: 0px $bodyPadding 100px;
        .carousel .owl-item .item .img {
            &:nth-child(1) {
                background: url(assets/img/george_cross.png) no-repeat center center;
                background-size: contain;
            }
            &:nth-child(2) {
                background: url(assets/img/george_cross.png) no-repeat center center;
                background-size: contain;
            }
            &:nth-child(3) {
                background: url(assets/img/george_cross.png) no-repeat center center;
                background-size: contain;
            }
        }
        .underlay-thumb {
            width: 100%;
            height: 500px;
            margin-bottom: 175px;
            .img {
                background: url(assets/img/george_cross_2.png) no-repeat center center;
                background-size: cover;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .lower {
            margin-top: -175px;
        }
    }
}