#artistic {
    padding-bottom: 100px;
    .header-bg {
        background: url(assets/img/noor-sitar.png) no-repeat top;
        background-size: cover;
        height: 60vh;
        margin-top: -95px;
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 812px) 
        and (-webkit-device-pixel-ratio : 3) { 
            height: 50vh;
        }
        .overlay {
            height: 25%;
            width: 100%;
            background-image: linear-gradient(to bottom, rgba(33,32,68,0.4), rgba(33,32,68,0.1));
        }
        .overlay-2 {
            height: 75%;
            width: 100%;
            position: relative;
            .trans-bg {
                position: absolute;
                bottom: 0;
                height: 50px;
                width: 100%;
                background: rgba(33,32,68, 0.1);
            }
        }
        .zoom {
            background: url(assets/icon/zoom.svg) no-repeat center center;
            background-size: contain;
            height: 25px;
            width: 25px;
            position: absolute;
            bottom: 20%;
            left: 5%;
            @media only screen 
                and (device-width : 375px) 
                and (device-height : 812px) 
                and (-webkit-device-pixel-ratio : 3) { 
                    bottom: 20%;
                    left: 5%;
                }
        }
    }
    section {
        padding: $bodyPadding;
        .lower {
            padding-top: 20px;
            .carousel {
                height: 340px;
            }
        }
        .lower .carousel .owl-item {
            .item {
                height: 320px;
                width: 100%;
                .img-01 {
                    background: url(assets/img/noor-famalam.png) no-repeat center center;
                    background-size: cover;
                    height: 100%;
                    width: 100%;
                }
                .img-02 {
                    background: url(assets/img/noor-illus.jpg)  no-repeat center;
                    background-size: cover;
                    height: 100%;
                    width: 100%;
                }
            }
            .owl-dots {
                bottom: 0 !important;
                .zoom {
                    bottom: 0 !important;
                }
            }
        }

        .lower .owl-carousel .owl-dots {
            width: 100%;
            //margin-top: -116px;
        }
        .btm-links {
            margin-bottom: 100px;
        }
        .links a.btn-back button {
            width: 50%;
        }
        .lower .carousel .owl-item .item .zoom {
           //bottom: 70px;
            @media screen and (device-aspect-ratio: 40/71) {
                bottom: 90px;
            }
        }
    }
}