#betrayal {
    padding-bottom: 100px;
    section {
        padding: $bodyPadding;

        .lower {
            .carousel .owl-item .item .img {
                &:nth-child(1) {
                    background: url(assets/img/gates.png) no-repeat center center;
                    background-size: contain;
                }
                &:nth-child(2) {
                    background: url(assets/img/gates.png) no-repeat center center;
                    background-size: contain;
                }
                &:nth-child(3) {
                    background: url(assets/img/gates.png) no-repeat center center;
                    background-size: contain;
                }
            }
            .owl-dots {
                bottom: 7px;
            }
            .zoom {
                bottom: 0px !important;
            }
        }

    }
}