#cover {
    padding-bottom: 100px;
    section {
        padding: $bodyPadding;
        overflow: hidden;
        .msg {
            width: 100%;
            height: 450px;
            position: relative;
            .img {
                background: url(assets/img/madeline.png) no-repeat center center;
                background-size: cover;
                width: 138%;
                height: 100%;
                position: absolute;
                right: -80px;
                left: -30px;
            }
        }
        .head {
            width: 75%;
            margin: 50px auto;
        }
        .video-thumb {
            width: 100%;
            height: 200px;
            .img {
                background: url(assets/img/guide-thumb.png) no-repeat center center;
                background-size: cover;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .ply-btn {
                    background: url(assets/icon/play.svg) no-repeat center center;
                    background-size: contain;
                    height: 40px;
                    width: 40px;
                }
            }
        }
        video {
            width: 100%;
            height: 100% !important;
        }
        .close {
            width: 100%;
            position: unset;
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
        }
        .inner {
            margin-top: 50px;
        }
        .video-container {
            position: relative;
            //padding-bottom: 56.25%; /*16:9*/
            //padding-top: 30px; 
            height: 0; 
            overflow: hidden;
        }
        
        .video-container iframe,
        .video-container object,
        .video-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}