#execution {
    section {
        padding: 0px $bodyPadding 100px;
            .carousel {
                height: 320px;
            }
            .owl-item .item {
                height: 320px;
            }
            .carousel .owl-item .item .img {
                &:nth-child(1) {
                    background: url(assets/img/crematorium.png) no-repeat center center;
                    background-size: contain;
                }
                &:nth-child(2) {
                    background: url(assets/img/crematorium.png) no-repeat center center;
                    background-size: contain;
                }
                &:nth-child(3) {
                    background: url(assets/img/crematorium.png) no-repeat center center;
                    background-size: contain;
                }
            }
            .owl-dots {
                bottom: 35px;
                @media screen and (device-aspect-ratio: 40/71) {
                    bottom: 57px
                }
            }
            .zoom {
                bottom: 30px;
                @media screen and (device-aspect-ratio: 40/71) {
                    bottom: 52px
                }
            }

        .thumb {
            width: 100%;
            height: 200px;
            margin: 50px 0px;
            .img {
                background: url(assets/img/gates.png) no-repeat center center;
                background-size: cover;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
            }
            .img-2 {
                background: url(assets/img/crematorium.png) no-repeat center center;
                background-size: cover;
                width: 100%;
                height: 100%;
                position: relative;
            }
            .gradientz {
                position: absolute;
                bottom: 0;
                height: 40px;
                width: 100%;
                background: rgba(33,32,68, 0.3);
                .zoom {
                    position: absolute;
                    z-index: 9999;
                    bottom: 4px;
                    left: 8px;
                }
            }
        }
    }
}