#intro {
    .header-bg {
        background: url(assets/img/runnymede-memorial.png) no-repeat top;
        background-size: cover;
        height: 50vh;
        margin-top: -95px;
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 812px) 
        and (-webkit-device-pixel-ratio : 3) { 
            height: 50vh;
        }
        @media (min-width: 768px) {
            background-size: cover;
          }
        .overlay {
            height: 25%;
            width: 100%;
            background:rgba(33,32,68, 0.7);
            @media (min-width: 768px) {
                height: 17%;
              }
        }
        .trans-bg {
            position: relative;
            bottom: 0;
            height: 73%;
            width: 100%;
            background: rgba(33,32,68,0.7); 
            padding: $bodyPadding;
            display: grid;
            justify-content: center;
            align-items: center;
            h2 {
                color: $yellow;
                line-height: unset;
                margin-top: 0;
            }
            .zoom {
                background: url(assets/icon/zoom.svg) no-repeat center center;
                background-size: contain;
                height: 25px;
                width: 25px;
                position: absolute;
                bottom: 5%;
                left: 5%;
                @media only screen 
                    and (device-width : 375px) 
                    and (device-height : 812px) 
                    and (-webkit-device-pixel-ratio : 3) { 
                        bottom: 6%;
                        left: 5%;
                    }
                @media (min-width: 768px) {
                    bottom: -8%;
                    left: 2%;
                }
            }
        }
    }

    .lower {
        padding: $bodyPadding;
        margin-top: -10px;
        position: relative;
        @media (min-width: 768px) and (max-width: 1024px) {
            padding: $tabletPadding;
        }
        background: $bodyBg;
        p {
            font-family: 'NewsPlantinMTStd';
            font-size: 18px;
        }
        .links {
            margin-bottom: 0;
            a.btn-link:first-of-type {
                    span {
                       // padding: 24px;
                    }
            }
        }
    }
}