#meaning {
    background: $darkBlue;
    padding-bottom: 100px;
    section {
        padding: $bodyPadding;

        video {
            width: 100%;
            height: 100% !important;
        }
    
        .video-container {
            position: relative;
            //padding-bottom: 56.25%; /*16:9*/
            padding-top: 30px; 
            height: 0; 
            overflow: hidden;
        }
        
        .video-container iframe,
        .video-container object,
        .video-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .video-thumb {
            width: 100%;
            height: 200px;
            .img {
                background: url(assets/img/guide-thumb-2.png) no-repeat center center;
                background-size: cover;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .ply-btn {
                    background: url(assets/icon/play.svg) no-repeat center center;
                    background-size: contain;
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }
    .nav-banner .content .text {
        text-align: center;
    }
}