#morse {
    section {
        padding: $bodyPadding;
        position: relative;
            .title {
                text-align: center;
                position: relative;
                h2 {
                    text-transform: uppercase;
                }
                h5 {
                    text-decoration: underline;
                }
                p {
                    font-family: 'Alata-Regular';
                    font-size: 16px;
                    line-height: 1.6em;
                }
                .cheat-sheet-link {
                    width: 30%;
                    height: 230px;
                    position: absolute;
                    top: 65%;
                    right: -39px;
                    .img {
                        background: url(assets/img/side-morse.png) no-repeat center center;
                        background-size: contain;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        
            .modal {
                display: none;
                position: fixed;
                z-index: 8888; 
                left: 0;
                top: 0;
                width: 100%; 
                height: 100%;
                overflow: auto; 
                background-color: rgb(0,0,0); 
                background-color: rgba(0,0,0,0.3);
    
                transition: 0.8s;
                transition-timing-function: cubic-bezier(.63,-0.33,.32,1.4);
            }
    
            .modal-content {
                background-color: $social;
                margin: 45vh auto 0vh;
                padding: 20px;
                border: 3px solid $white;
                width: 90%;
    
                transition: 0.8s;
                transition-timing-function: cubic-bezier(.63,-0.33,.32,1.4);
    
                .morse-cheat {
                    height: 360px;
                    width: 100%;
                    margin-left: -20px;
                    .img {
                        background: url(assets/img/morse-cheat.png) no-repeat center center;
                        background-size: contain;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
    
            .close {
                grid-column: 2;
                top: 37%;
                right: -140px;
                  color: white;
                  z-index: 3;
                  cursor: pointer;
                span,
                span:before,
                span:after {
                  border-radius: 4px;
                  height: 3px;
                  width: 35px;
                  background: white;
                  position: absolute;
                  display: block;
                  content: '';
                }
                span {
                  background: transparent;
                }
                span:before {
                transform: rotate(45deg);
                }
                span:after {
                transform: rotate(-45deg);
                }
              }

        .morse-foo {
            width: 300px;
            height: 500px;
            .img {
                background: url(assets/img/morsefoo.png) no-repeat center center;
                background-size: contain;
                height: 100%;
                width: 100%;
                margin: auto;
            }
        }
        a {
            width: 100%;
            height: 100px;
            margin: 50px auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .test-btn {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            border: 5px solid $subBlack;
            background: transparent;
            margin: 50px auto;
            position: absolute;
            bottom: 103px;
            left: 39%;
        }
    }
}