// What Role Quiz and Answer styles

#question {
    section {
        padding: $bodyPadding;
        .inner {
            background: $chapBgLower;
            padding: $bodyPadding;
            text-align: center;
            h2 {
                color: $yellow;
            }
            a.btn-link button span {
                width: 75%;
                &:hover {
                    color: $yellow;
                    box-shadow: 0px 3px 15px $yellow;
                }
            }
        }
    }
}

#answer {
    text-align: center;
    section {
        padding: 0px $bodyPadding;
        .recruited {
            height: 75px;
            width: 100%;
            .img {
                background: url(assets/img/recruited.png) no-repeat center center;
                background-size: cover;
                height: 100%;
                width: 100%;
            }
        }
        h1 {
            margin-top: 0px;
        }
        p {
            font-size: 16px;
            font-family: 'Alata-Regular';
        }
        .character-img {
            width: 75%;
            height: 250px;
            display: grid;
            margin: 30px auto;
            img {
                width: 100%;
                margin: auto;
            }
        }
    }
}