// Pg 1

#radio-training {
    overflow: hidden;
    header {
        position: relative;
        z-index: 222;
        background-image: linear-gradient(to bottom, #212044, rgba(33,32,68, 0.3));
    }
    .header-bg{
        .morse-head {
            position: relative;
            width: 350px;
            height: 350px;
            @media (min-width: 768px) and (max-width: 1024px) {
                height: 550px;
              }
            .img {
                background: url(assets/img/morsekey.png) no-repeat center center;
                background-size: cover;
                position: absolute;
                width: 125%;
                height: 100%;
                left: -64%;
                bottom: 27%;
                z-index: 3;
            }
        }
    }
    section {
        padding: $bodyPadding;
        position: relative;
        margin-top: -350px;
        max-height: 85vh;
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 667px) 
        and (-webkit-device-pixel-ratio : 2) { 
            height: 100vh;
        }
        .title {
            text-align: center;
            width: 80%;
            margin: auto;
            h2 {
                text-transform: uppercase;
            }
            h5 {
                text-decoration: underline;
            }
            p {
                font-size: 18px;
                line-height: 1.4em;
                @media (min-width: 768px) and (max-width: 1024px) {
                    font-size: 18px;
                  }
            }
            p.sub {
                color: $yellow;
            }
            .bgn-btn {
                height: 60px;
                width: 140px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                .begin {
                    background: url(assets/icon/begin.svg) no-repeat center center;
                    background-size: contain;
                    height: 100%;
                    width: 100%;
                    margin: auto;
    
                    // iPad
                    @media (min-width: 768px) and (max-width: 1024px) {
                        height: 130%;                    
                    }
                    // XL phones
                    @media (min-width: 400px) and (max-width: 767px) {
                        height: 55px;                
                    }
                    @media only screen 
                        and (device-width : 375px) 
                        and (device-height : 812px) 
                        and (-webkit-device-pixel-ratio : 3) {
                            height: 85%;
                    }
                }
            }
        }

        .slantz {
            height: 300px;
            width: 135%;
            position: relative;
            margin: 110px 0px 0px;
            @media (min-width: 768px) and (max-width: 1024px) {
                margin: 110px 150px 0px;
              }
            .img {
                background: url(assets/img/asseet_message.png) no-repeat center center;
                background-size: contain;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 4%;
                bottom: 24%;
                z-index: -1;
            }
        }

    }
}


// Pg 2
#radio-game {
    overflow: hidden;
    .header-bg {
        padding: 0px $bodyPadding;
        position: relative;
        .morse-msg {
            width: 100%;
            height: 300px;
            @media (min-width: 768px) and (max-width: 1024px) {
                margin: 15vh 0vh;
              }
            .img {
                background: url(assets/img/morse-msg.png) no-repeat center center;
                background-size: contain;
                width: 100%;
                height: 100%;
            }
        }
        .cheat-sheet-link {
            width: 30%;
            height: 230px;
            position: absolute;
            left: 79%;
            bottom: -50%;
            @media (min-width: 768px) and (max-width: 1024px) {
                left: 81%
              }
            .img {
                background: url(assets/img/side-morse.png) no-repeat center center;
                background-size: contain;
                width: 100%;
                height: 100%;
            }
        }
    }
    section {
        padding: $bodyPadding;
        margin-top: -85px;
        .content {
            margin: 0 auto;
            text-align: center;
            width: 100%;
            h5 {
                color: $yellow;
                text-align: center;
            }
            p#ratefeld {
                width: 100%;
                margin: auto;
                font-size: 27px;
            }
            form {
                margin: 50px auto;
                display: grid;
                grid-template-columns: 1fr 70px;
                width: 100%;
                input[type="text"] {
                    width: 100%;
                    margin: auto;
                    height: 40px;
                    text-align: center;
                    font-size: 12px;
                }
                input[type="button"] {
                    width: 100%;
                    height: 40px;
                    color: $white;
                    background: $lightBlue;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 900;
                    border: none;
                }
                p#gerateneBuchstaben {
                    margin: 25px 0px;
                    color: $yellow;
                    font-family: 'Alata-Regular';
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-left: 22%;
                }
            }
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 8888; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%;
            overflow: auto; 
            background-color: rgb(0,0,0); 
            background-color: rgba(0,0,0,0.3);

            transition: 0.8s;
            transition-timing-function: cubic-bezier(.63,-0.33,.32,1.4);
        }

        .modal-content {
            background: rgba(33,32,68,0.9);
            padding: 20px;
            width: 100%;
            height: 100vh;
            display: grid;
            align-items: center;
            transition: 0.8s;
            transition-timing-function: cubic-bezier(.63,-0.33,.32,1.4);

            .morse-cheat {
                height: 500px;
                width: 100%;
                .img {
                    background: url(assets/img/morse-cheat.png) no-repeat center center;
                    background-size: contain;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .close {
            grid-column: 2;
              color: white;
              z-index: 3;
              cursor: pointer;
            span,
            span:before,
            span:after {
              border-radius: 4px;
              height: 3px;
              width: 35px;
              background: white;
              position: absolute;
              display: block;
              content: '';
            }
            span {
              background: transparent;
            }
            span:before {
            transform: rotate(45deg);
            }
            span:after {
            transform: rotate(-45deg);
            }
          }

          a.btn-link button {
            display: flex;
            margin: 30px 0px;
            width: 70%;
            height: 100%;
        }
        a.btn-back button {
            margin: -30px auto 50px;
        }
    }
}
