#role {
    overflow-x: hidden;
    .fixed-nav {
        z-index: 100;
    }
    section {
        padding: 0px $bodyPadding;
        .bg-container {
            background-color: $bodyBg;
            padding: $bodyPadding;
            text-align: center;
            .h5-title {
                text-decoration: underline;
                color: $white;
            }
            h2 {
                text-transform: uppercase;
            }
            p {
                font-family: 'Alata-Regular';
                font-size: 14px;
                letter-spacing: 0.56px;
            }
            h5 {
                color: $yellow;
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                max-height: 50px;
                position: relative;
                z-index: 35;
                @media (min-width: 768px) and (max-width: 1024px) {
      
                    max-height: 88px;
                    
                  }
                .begin {
                    background: url(assets/icon/begin.svg) no-repeat center center;
                    background-size: inherit;
                    height: 50px;
                    width: 100%;
                    margin: 0 auto;
    
                    // XL phones
                    @media (min-width: 400px) and (max-width: 767px) {
                        height: 55px;                
                    }
                }
            }
        }
    }
    .lower {
        height: 200px;
        width: 100%;
        position: relative;
        @media (min-width: 768px) and (max-width: 1024px) {
            height: 411px;
            top: 27%;
          }
        .img {
            background: url(assets/img/role-quiz.png) no-repeat center center;
            background-size: cover;
            height: 122%;
            width: 130%;
            position: absolute;
            top: -34%;
            left: -20%;
            z-index: 25;
        }
    }
}